 <div id="footer">
  <div class="footer-block"></div>
  <div class="footer-block">
            <ul>
                <li><b>PRODUCT</b></li>
                 <li>Business</li>
                 <li>Compare</li>
                 <li>Features</li>
                 <li>Pricing</li>
                 <li>Download</li>                
      </ul>
            
            </div>
  <div class="footer-block">
             <ul>
                 <li><b>COMPANY</b></li>
                 <li>About Us</li>
                 <li>Blog</li>
                 <li>News</li>
                 <li>Press Releases</li>
                 <li>Jobs</li>
                 <li>Contact Us</li>
      </ul>
            </div>
    <div class="footer-block">
             <ul>
                 <li><b>SUPPORT</b></li>
                 <li>Developers</li>
                 <li>Referal Program</li>
                 <li>Reseller Program</li>
                 <li>FolderSharing FAQ</li>
            </ul>
            
        </div>
    <div class="footer-block"></div>
</div>